body{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color:purple;
}

h2{
    color:rgb(146, 52, 68)
}
h2{
    margin: 0px
}
.teste{
    width:80%;
    border: solid aquamarine 1px;
    padding:30px;
    margin: 20px;
}
.imagem-time{
    width:100px;
    margin:10px;
}